.App {
  padding: 100px 0 0 0;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: fixed;
  top: 0px;
  width: 100%;
  display:flex;
  justify-content: start;
  align-items: center;
  background-color: #0000a0 ;
  height: 60px;
  padding: 20px 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ol, ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  border: 1px solid #0000a0;
  border-radius: 5px;
  margin: 5px 0px;
  padding: 20px 20px;
  height: 40px;
}

.user-item:hover {
  background-color: #00CCCC;
}

.user-item:active {
  background-color: #00CCCC;
}

.user-item > img {
  padding: 0 20px 0 0;
}

.repo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.repo-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 40%;
  border: 1px solid #0000a0;
  border-radius: 5px;
  margin: 10px 20px;
  padding: 10px 10px;
  text-align: start;
}

.repo-item-filler {
  width: 40%;
  margin: 10px 20px;
  padding: 10px 10px;
}

.repo-item > label {
  padding: 10px 10px;
}

.repo-title {
  color: #0000a0;
  font-size: 20px;
  font-weight: bold;
}


.repo-details {
  display: flex;
  justify-content: start;
}

.repo-details > label {
  margin: 0px 10px 0 0;
}

.back-to-home {
  margin: 0 40px 0 auto;
  width: 120px;
  height: 40px;

  color: #FFFFFF;
  background: #0000a0;
  border: 1px #FFFFFF solid;
  border-radius: 5px;
}

.search-label {
  margin: 0 0 0 60px;
}

.search {
  margin: 0 0 0 20px;
}

.search-button {
  height: 21px;
  color: #FFFFFF;
  background: #0000a0;
  border: 1px #FFFFFF solid;
}

.loader{
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 10%;
}
